.songs{
    height: 50vh; /* 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px; /* Adjust the margin as needed */
    font-size: 25px;
}